<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.CH4L.ClarkeHouse"
    version   = "1.0.0">

<name>Clarke House</name>

<gap:platform name="ios" />

<plugin name="InAppBrowser" value="CDVInAppBrowser" />
<plugin name="InAppBrowser" value="org.apache.cordova.InAppBrowser" />
<access origin="*" browserOnly="true" /> 
<preference name="prerendered-icon" value="true" />
<preference name="ios-statusbarstyle" value="default" />
<preference name="show-splash-screen-spinner" value="false" />

<!--App Splash Screen -->
<gap:splash src="images/splash/ios/Default.png" gap:platform="ios" width="320" height="480" />
<gap:splash src="images/splash/ios/Default_at_2x.png" gap:platform="ios" width="640" height="960" />
<gap:splash src="images/splash/ios/Default_iphone5.png" gap:platform="ios" width="640" height="1136" />
<gap:splash src="images/splash/ios/Default-Landscape.png" gap:platform="ios" width="1024" height="748" />
<gap:splash src="images/splash/ios/Default-Portrait.png" gap:platform="ios" width="768" height="1004" />
<!-- retina iPad support: PhoneGap 2.5.0+ only -->
<gap:splash src="splash/ios/Default-Landscape_at_2x.png" gap:platform="ios" width="2048" height="1496" />
<gap:splash src="splash/ios/Default-Portrait_at_2x.png" gap:platform="ios" width="1536" height="2008" />

<!--App Icons -->
<icon src="images/AppIcon/icon.png" gap:platform="ios" width="60" height="60" />
<icon src="images/AppIcon/icon-72.png" gap:platform="ios" width="76" height="76" />
<icon src="images/AppIcon/icon_at_2x.png" gap:platform="ios" width="120" height="120" />
<!-- retina iPad support: PhoneGap 2.5.0+ only -->
<icon src="images/AppIcon/icon-72_at_2x.png" gap:platform="ios" width="152" height="152" />

<description>
CH4L - Clarke House Boys
</description>

<author href="akknobloch.com" email="akknobloch3@gmail.com">
Austin Knobloch
</author>

</widget>
