@charset "utf-8";
/* CSS Document */

* {
	font-family:"Century Gothic", Verdana, Arial
}
body {
	margin: 0;
	padding: 0;
}
#page, #page2, #page3, #page4 {
	text-align: left;
	
}
heading{
	display: none;
}

.logo {
width:100%;
height:37px;
background: url(../images/Logo.svg) center no-repeat ;
margin: auto;
padding: 0;
}

.blackline{
	width: 100%;
	height: 13px;
	background: #000;
	margin: auto;
}
.header {
	width: 100%;
	height: 70px;
	margin: 0;
	padding: 0;
}
.ui-header {
	width:100%;
	height:auto;
	
}
.ui-footer .ui-title {
 white-space: normal;
}
.PageBullet {
	font-size:14px;
	height:auto;
	
	white-space:normal;
}
.ui-li-desc {
    white-space: normal !important;
}
body .ui-li .ui-li-desc {
  white-space: normal;
}
.CollapseTitle {
	font-size: 17px;
	color: #000;
	text-decoration: underline;
}
.tab { 
	margin-left: 40px; 
}
.ContactTitle{
	font-weight: bold;
	font-size: 18px;
	text-align:left;
}
.ContactText{
	text-align: center;
	font-size: 18px;
}
.ui-page {
    -webkit-backface-visibility: hidden;
}
.ui-block-a{
	width: 75%;	
}
.ui-block-b{
	width: 25%;	
}
.ViewLimitsTableLeft {
	width: 80%;
	color:#000;
}
.ViewLimitsTableRight {
	width: 20%;
	text-align:center;
	color:#000;
}
.ButtonText {
	font-size: 13px;
	font-weight: lighter;
}
.FooterText {
		font-weight: lighter;
}
